version: 2
updates:
  # Python - Backend
  - package-ecosystem: "pip"
    directory: "/api"
    schedule:
      interval: "weekly"

  # Node.js - Frontend
  - package-ecosystem: "npm"
    directory: "/web"
    schedule:
      interval: "weekly"

  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
